---
Language: C
BasedOnStyle: LLVM

UseTab: Never
TabWidth: 2
IndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: false
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: None
AlignEscapedNewlines: DontAlign
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  BeforeElse: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignTrailingComments: true
ColumnLimit: 100
PointerAlignment: Left
SortIncludes: true
...
